# Web Interface
streamlit

# LangChain Core & Integrations
langchain
langchain-community
langchain-core
langchain-openai
langchain-classic


# Embeddings & Vector Storage
chromadb
langchain-chroma
torchvision

# PDF Processing
pypdf

tiktoken

# LLM Providers
openai

# Configuration & Data Validation (Pydantic)
pydantic
pydantic-settings
python-dotenv

# Testing
pytest

-e .