# Web Interface
streamlit>=1.32.0

# LangChain Core & Integrations
langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-openai>=0.1.0


# Embeddings & Vector Storage
chromadb>=0.5.0
langchain-chroma>=0.1.0

tiktoken>=0.7.0

# LLM Providers
openai>=1.20.0

# Configuration & Data Validation (Pydantic)
pydantic
pydantic-settings
python-dotenv>=1.0.1

# Testing
pytest>=8.0.0